@import "tailwindcss";
@import "@xanh/design-tokens/theme.css";
@import "@xanh/design-tokens/driver-theme.css";
@import "./driver-glass.css";

html {
  font-family: 'Inter', sans-serif;
}

.ant-btn {
  box-shadow: none !important;
}
.ant-btn::after {
  display: none !important;
}
